@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share&display=swap');

/* Mobile */

@media only screen and (max-width: 600px) {
  .home-section-center {
    width: 75vw !important;
  }
  .home-section-center-info-text {
    font-size: 70%;
  }
}

/* Default configs */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
	overflow-y: scroll;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
} */

/* Menu */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px -11px 35px 4px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px -11px 35px 4px rgba(0,0,0,0.24);
  box-shadow: 0px -11px 35px 4px rgba(0,0,0,0.24);
  z-index: 99;
  background-color: white;
}

.navbar ul {
  list-style: none;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  color: #1A2155;
  font-size: 1.1em;
  display: inline;
  padding: 0 15px;
}

.navbar ul li:hover{
  color: #939DAB;
  transition: color 0.4s ease 0s;
}

li > .active {
  border-bottom: 1px solid #130070;
}

.page-title {
  font-family: 'Forum', cursive;
  font-size: 1.8em !important;
  font-weight: 500;
  flex: 1 1 auto;
  border-right: 2px solid #1A2155;
}

li a {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none; 
  cursor: pointer;
}

/* Home */

.home-section {
  height: 100vh;
  background: #fff;
}

.home-section-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #FFFFFF;
}

.home-section-header{  
  height: 65%;
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover;
}

.home-section-center{
  position: absolute;
  top: -18vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50vw;
  height: 50vh;
  background-color: white;
  -webkit-box-shadow: 0px -11px 35px 4px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px -11px 35px 4px rgba(0,0,0,0.24);
  box-shadow: 0px -11px 35px 4px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-section-center-photo { 
  width: 50%; 
  height: 50vh;
  -webkit-box-shadow: inset 0px 0px 15px -6px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 15px -6px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 15px -6px rgba(0,0,0,1);
  background: #000 url('./assets/photo.jpeg') no-repeat;
  /* background: #000 url('./assets/photo-bw.jpg') no-repeat; */
  /* background: #000; */
  background-position: center top 0px;  
  background-size: cover;
}

.home-section-center-info { 
  width: 50%; 
  height: 50vh;
  background-color: white;
  color: #000;
  font-family: 'Share', cursive;
  font-size: 1.8em !important;
  color: #1A2155;
}

.home-section-center-info-text {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  width: 85%;
}

.home-section-center-footer {  
  height: 10vh;
  width: 100%; 
  align-self: flex-end;
  background-color: #1A2155;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-section-center-socials {
  width: 45px;
  height: 45px;
  margin: 0 20px;
}

.home-section-footer {
  margin-top: 15vh;
  width: 100%;
  color: black;
  text-align: center;
}

.home-section-footer h2 {
  font-family: 'Forum', cursive;
  font-size: 1.8em !important;
  color: #1A2155;
}

/* Skills */

.skills-section {
  height: 100vh;
  background-color: mediumaquamarine;
}

/* Experience */

.exp-section {
  height: 100vh;
  background-color: mediumpurple;
}

/* Curriculum */

.curriculum-section {
  height: 100vh;
  background-color: hotpink;
}

/* Contact */

.contact-section {
  height: 100vh;
  background-color: tomato;
}
